# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
env/
*.sqlite3

# Qdrant data
qdrant_data/
qdrant/storage/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Snapshots
*.tar
*.zip